SESSION_NAME=BQCzC9a42usKGK-l_2cZaDq9UUD_TK-oBExOeadNiC1WyDV_Y0k2qnxnYDpZJXePOIpddXp4x6TANQbh3_F5huVYE0_-rThzKnvaUD1cGeEdU_aVkxoTfYsgaV3lFAkz4fOtg-kUk8Uz0R5aYicu1U9NNvC1sElJLynGcC_kM5PTsJkxOfKamB-xN4OkYbTWSK8CG2wCV_nMNq6dkDBQdgrN2pBiK5qvE8jrY1A7JMFYYKEpvw0lHelQTBehPDyyz2makEvKkulJI1CZyc8LloiHdA6wB978lm8pf3Ub_QedrRZywVnxb8eK-6SgQWs6DnrSnBC2kvmbAgtwv-kiQH9vdTJyYwA
BOT_TOKEN=2035791732:AAGam0kEH45dtyCRDuN66RNAcmFNuN7pVSU
API_ID=7364617
API_HASH=86b38c34e35870a34f353b05f319c613
SUDO_USERS=1981709803 1930806531
OWNER_ID=1971311438
DURATION_LIMIT=78900
MONGO_DB_URI=mongodb+srv://vexz:vexz@vexz.wgpif.mongodb.net/vexz?retryWrites=true&w=majority
LOG_GROUP_ID=-1001651961288
ASS_ID=1966240355
AUTO_LEAVE=1500
GROUP=justvenzzz
CHANNEL=venzproject
UPSTREAM_BRANCH=master
UPSTREAM_REPO=https://github.com/eldy020502/venzmusic
